<div class="form-box" id="login-box">
    <div class="header">Forgot Password?</div>
    <form>
        <div class="body bg-gray">
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="User Email" ng-model="user_email" />
            </div>
        </div>
        <div class="footer">

            <button class="btn bg-olive btn-block" style="color:#fff" ng-click="onResetPassword()">Reset Password</button>

            <a ui-sref="login" class="text-center" style="color:#333333">Back</a>
        </div>
    </form>
</div>